.faq {
  &__upper {
    width: fit-content;
    margin: 325px auto 4px auto;
    color: #222222;
    font-weight: 700;
    position: relative;

    &::before {
      content: '';
      background: url('../../assets/images/four-dot.png') no-repeat;
      background-size: 100% 100%;
      width: 31px;
      height: 34px;
      position: absolute;
      top: -10px;
      left: -13px;
      z-index: -1;
    }
  }

  &__headed {
    margin: 0;
    margin-bottom: 78px;
    text-align: center;
  }
  
  &__questions-container {
    list-style-type: none;
    padding: 0;
  }
}

@media all and (max-width: 700px) {
  .faq {
    margin: 0 20px;

    &__headed {
      font-size: 55px;
    }
  }
}