@font-face {
  font-family: 'Open Sans';
  src: url('./OpenSans/OpenSans-regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'Open Sans';
  src: url('./OpenSans/OpenSans-bold.woff2') format('woff2');
  font-weight: 700;
}

@font-face {
  font-family: 'Montserrat';
  src: url('./Montserrat/Montserrat-Bold.woff2') format('woff2');
}